.float-middle {
    float: center;
}

#header-title {
    align-items: center;
}

body {
    margin-top: 0px;
}

#logo {
    padding: 5px;
}

.foot {
    background-color: blanchedalmond;
}
